
  
  /* Variables */
  $color1:rgb(3, 3, 90);
  $color2: rgb(128, 83, 83);
  $color3: rgb(80, 78, 78);
  $color4: orange;
  $estilos1: Fantasy;
  $estilos2: Cursive;
  $tamano1: 24px;
  $tamano2: 32px;
  $tamano3: 40px;

  * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .sec {
    width: 100%;
    height: 100%;
  }
  
  .carousel-caption {
    color: white;
    text-shadow: 20px;
  }

  .titulo-1 {
    text-align: center;
    font-size: 40px;
  }
  
  .parrafo-1 {
    text-align: center;
    font-size: 20px;
  }
  
  .text-muted {
    text-align: center;
    font-family: $estilos1;
    font-size: $tamano1;
    color: $color3;
  }
  .lead{
      font-family: $estilos1;
  }
  .footer__redes {
    text-align: center;
  }
  
  li {
    list-style: none;
    margin: 25px;
  }        
    li:hover{
            background-color: darkcyan;
  }

  .derechos {
    text-align: center;
  }
  /* Uso de Variables*/
  .footer {
    background-color: $color4;
  }
  
  .footer__direccion {
    text-align: center;
  }
  
  
  /*animaciones*/
  .matelca{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #2980B9;
  }
  .matelca:hover{
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  @-webkit-keyframes circulo {
    0% {
      border-radius: 0;
      opacity: 0;
    }
    50% {
      border-radius: 30px;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      background-color: red;
      opacity: 1;
    }
    100% {
      border-radius: 75px;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
    }
  }
  
  @keyframes circulo {
    0% {
      border-radius: 0;
      opacity: 0;
    }
    50% {
      border-radius: 30px;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      background-color: red;
      opacity: 1;
    }
    100% {
      border-radius: 75px;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
    }
  }
  
  .text-muted {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/* Variables */


  /* Anidacion y Variables*/

 
    section {
        display: inline-block;
       padding-top: 130px;
       padding-left: 30px;
       padding-right: 20px;
       .titu-1 {
        text-align: center;
        color: $color3;
        font-family:$estilos1;
    }
    }
    section {
        display: inline-block;
       padding-top: 130px;
       padding-left: 30px;
       padding-right: 20px;
       .titu-2 {
        text-align: center;
        color: $color2;
        font-family: $estilos2;
        font-size: $tamano2;
    }
    }

section {
        display: inline-block;
       padding-top: 130px;
       padding-left: 30px;
       padding-right: 20px;
       .titu-3 {
        text-align: center;
        font-family: $estilos2;
        color: $color3;
        font-size: $tamano3;
    }
    }

  p{
   text-align: center;
 }
h2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(77, 75, 75);
  height: 60px;
}
 .galpon{
   height: 700px;
   background-color: rgb(57, 19, 224);
   margin-top: 35px;
   margin-left: 15px;
    /*opacity: 0.8;
    filter:alpha(opacity=40); /* For IE8 and earlier */
   }
 ul{
 .vinetas{
  list-style-type: disc;
  font-size: 20px;
 }
}
 .valores{
   background-color: black;
   color: white;
   height: 600px;
 }
 li:hover{
  background-color: black;
}
.valores1{
  margin-left: 140px;
  padding-top: 70px;
 }
 .texto5{
   padding-top: 70px;
 }
.texto4{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
}
section{
  .titu-4{
    text-align: left;
    height: 50px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
}
.adn1{
  text-align: center;
}
.adn2{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
margin-left: 100px;
margin-right: 100px;
}


//maps - incio

$tamaño: (
    /*Declaramos nuestro mapa*/
    tam1: 18px,
    tam2: 20px,
    tam3: 25px,
    );

/*Creamos el bucle para usar los valores del mapa*/
.texto4{ 
@each $tamaño, $font in $tamaño {
    .pfo--#{$tamaño} {
        background-color: rgb(234, 236, 211);
        height: 200px;
        text-align: left;
        font-size: $font;
        line-height: 25px;
        color: rgb(114, 110, 110);
       text-shadow: 0 0 5px rgb(221, 153, 15) ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: $font;
    }
}
}
@media (max-width: 550px){
  $tamaño: (
    tam1: 12px,
    tam2: 13px,
    tam3: 16px,
    );
.texto4{ 
@each $tamaño, $font in $tamaño {
    .pfo--#{$tamaño} {
        background-color: rgb(234, 236, 211);
        height: 200px;
        text-align: left;
        font-size: $font;
        line-height: 25px;
        color: black;
       text-shadow: 0 0 5px rgb(161, 109, 3) ;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: $font;
    }
}
}
}

//maps -fin

//mixins - inicio

//estilos

.texto5 .mision {
  text-align: center;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
 
}

@mixin estilos($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}

.texto5 .mision {
  @include estilos(monospace, 20px , rgb(5, 5, 114));
  
}
font-family: monospace;
.texto5 .vision {
  @include estilos(Verdana, 20px, rgb(102, 100, 100));
  text-align: center;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;

  
   
}
//mixins - fin

@media (max-width: 550px){
  .texto5 .mision {
    @include estilos(monospace, 16px , rgb(5, 5, 59));
    
  }
  .texto5 .vision {
    @include estilos(Arial, 16px, rgb(102, 100, 100));
}
}

.falta{
  background-color: rgb(77, 75, 75);
  color: white;
}
  }



//extends - inicio
section{
.parrafo-1 {
  font-family: $estilos1;
 
  line-height: 30px;
}
}
section{
.parrafo-2 {
  @extend .parrafo-1;
  font-family: $estilos2;
 color: $color3;
 font-size: $tamano2;
}
}
section{
.parrafo-3{
  @extend .parrafo-1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $color2;
  font-size: $tamano1;
 }
}

//extends - fin
/* Uso del import para separar contenido del header*/

  @import "_header"

  