/* Variables */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.sec {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  color: white;
  text-shadow: 20px;
}

.titulo-1 {
  text-align: center;
  font-size: 40px;
}

.parrafo-1 {
  text-align: center;
  font-size: 20px;
}

.text-muted {
  text-align: center;
  font-family: Fantasy;
  font-size: 24px;
  color: #504e4e;
}

.lead {
  font-family: Fantasy;
}

.footer__redes {
  text-align: center;
}

li {
  list-style: none;
  margin: 25px;
}

li:hover {
  background-color: darkcyan;
}

.derechos {
  text-align: center;
}

/* Uso de Variables*/
.footer {
  background-color: orange;
}

.footer__direccion {
  text-align: center;
}

/*animaciones*/
.matelca {
  -webkit-animation-name: circulo;
  animation-name: circulo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes circulo {
  0% {
    border-radius: 0;
    opacity: 0;
  }
  50% {
    border-radius: 30px;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    background-color: red;
    opacity: 1;
  }
  100% {
    border-radius: 75px;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}

@keyframes circulo {
  0% {
    border-radius: 0;
    opacity: 0;
  }
  50% {
    border-radius: 30px;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    background-color: red;
    opacity: 1;
  }
  100% {
    border-radius: 75px;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}

.text-muted {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Variables */
/* Anidacion y Variables*/
section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .titu-1 {
  text-align: center;
  color: #504e4e;
  font-family: Fantasy;
}

section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .titu-2 {
  text-align: center;
  color: darkred;
  font-family: Cursive;
  font-size: 32px;
}

section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .titu-3 {
  text-align: center;
  font-family: Cursive;
  color: #504e4e;
  font-size: 40px;
}

section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .parrafo-1 {
  font-family: Fantasy;
  color: #03035a;
  line-height: 30px;
}

section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .parrafo-2 {
  font-family: Cursive;
  color: #504e4e;
  line-height: 30px;
  font-size: 32px;
}

section {
  display: inline-block;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 20px;
}

section .parrafo-3 {
  font-family: Cursive;
  color: darkred;
  line-height: 30px;
  font-size: 24px;
}

/* Uso del import para separar contenido del header*/
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

a:hover {
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-color: #e8f0dd;
}

.matelca {
  color: black;
  text-shadow: 1px 1px 2px #180db6;
  text-align: center;
  background-image: url(https://thumbs.dreamstime.com/z/logotipo-del-servicio-electricista-de-la-compa%C3%B1%C3%ADa-que-se-ocupa-poder-134292839.jpg);
  background-size: cover;
  background-position-y: center;
}

h1 {
  font-size: 48px;
  color: black;
  text-shadow: 1px 1px 2px #05078d;
}

ul {
  text-decoration: none;
}

.navbar {
  height: 50px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}
/*# sourceMappingURL=estilos.css.map */